<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminmapper">
	<insert id="saveItem">
		INSERT INTO product (
		item_no,
		item_img,
		item_name,
		item_content,
		origin_p,
		sales_p,
		stock_cnt,
		cate_no,
		dis_no
		)
		VALUES (
		product_seq.NEXTVAL,
		#{item_img},
		#{item_name},
		#{item_content},
		#{origin_p},
		#{sales_p},
		#{stock_cnt},
		#{cate_no},
		17
		)
	</insert>

	<select id="getItemList" resultType="ProductVO">
		SELECT p.item_no,
		p.item_name,
		c.cate_name,    <!-- cate 테이블에서 가져오기 -->
		p.origin_p,
		p.sales_p,
		p.item_img,
		p.item_content,
		p.stock_cnt,
		p.cate_no
		FROM product p
		LEFT JOIN cate c ON p.cate_no = c.cate_no
	</select>

	<update id="updateItem" parameterType="ProductVO">
		UPDATE product
		SET
		item_name = #{item_name},
		item_content = #{item_content},
		origin_p = #{origin_p},
		sales_p = #{sales_p},
		stock_cnt = #{stock_cnt},
		cate_no = #{cate_no},
		dis_no = 17
		<if test="item_img != null">
			, item_img = #{item_img}
		</if>
		WHERE item_no = #{item_no}
	</update>

	<delete id="deleteItem" parameterType="int">
		DELETE FROM product
		WHERE item_no = #{itemNo}
	</delete>

	<update id="updateStock" parameterType="ProductVO">
		UPDATE product
		SET
		item_name = #{item_name},
		origin_p = #{origin_p},
		sales_p = #{sales_p},
		stock_cnt = #{stock_cnt}
		WHERE item_no = #{item_no}
	</update>

	<insert id="insertDailyStats">
		INSERT INTO stats (
		stats_id, stats_date, total_order, total_sales, cancel_cnt,
		return_cnt, total_price, margin, total_discount
		)
		SELECT
		stats_seq.NEXTVAL,
		TRUNC(SYSDATE),
		COUNT(DISTINCT o.order_id),
		SUM(od.qty),
		SUM(CASE WHEN od.status = '취소' THEN od.qty ELSE 0 END),
		SUM(CASE WHEN od.status = '반품' THEN od.qty ELSE 0 END),
		SUM(od.price * od.qty),
		ROUND(
		(SUM(od.price * od.qty) - SUM(p.cost * od.qty)) / SUM(od.price * od.qty) * 100,
		2
		),
		SUM(od.discount)
		FROM orders o
		JOIN order_detail od ON o.order_id = od.order_id
		JOIN product p ON od.product_id = p.product_id
		WHERE TRUNC(o.order_date) = TRUNC(SYSDATE)
	</insert>
</mapper>
