@charset "UTF-8";

#chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}

#chat-box {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 300px;
    height: 400px;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    flex-direction: column;
    padding: 10px;
}

#chat-messages {
    height: 330px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}