.chat-box {
    width: 300px;
    height: 380px;
    background: white;
    border: 1px solid #ccc;
    position: fixed;
    bottom: 90px;
    right: 30px;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.chat-open-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #0d6efd;
    color: white;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 25px;
}

.chat-header {
    background: #0d6efd;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.chat-messages {
    height: 280px;
    padding: 10px;
    overflow-y: auto;
    font-size: 14px;
}

.chat-input {
    display: flex;
}
.chat-input input {
    flex: 1;
    padding: 5px;
}
.chat-input button {
    padding: 5px 10px;
}